//  fonts sizes
$heading-big: 4.5em;
$heading-medium: 3em;
$heading-small: 1.5em;

$text-small : 1.2rem;



// colors 
$primary : #009F9E;
$secondary : #121117;
$tertiary : #DA4167;

$primary-light : #11F4F3;

$white : #fff;
